{% extends "layout.html" %}
{% block title %}Kehadiran{% endblock title %}

{% block headercss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock headercss %}

{% block main %}
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> Data Kehadiran
            <a class="btn btn-primary" style="width: 128px; float: right;margin-right: 10px;" href="#" data-toggle="modal" data-target="#exportModal"> Eksport Excel</a>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>No Hp</th>
                    <th>Kajian</th>
                    <th>Waktu</th>
                  </tr>
                </thead>
                <tbody>
                  {% if data.list_user %}
                  {% for user in data.list_user %}
                      <tr>
                          <td>{{ user.nama }}</td>
                          <td>{{ user.no_hp }}</td>
                          <td>{{ user.kajian }}</td>
                          <td>{{ user.created }}</td>
                      </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
            {{ data.pagination.links }}
          </div>
          <div class="card-footer small text-muted">{{ data.pagination.info }}</div>
        </div>
{% endblock main %}

{% block footerjs %}
  <!-- Logout Modal-->
  <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="GET">
        <input type="hidden" name="export" value="true" />
        <input type="hidden" name="per_page" value="5000" />
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ekspor ke Excel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  <select name="type" id="type" required class="form-control" style="height: 50px;">
                    <option value="1010">Semua Kajian</option>
                    <option value="TABLIGH_AKBAR">Tabligh Akbar</option>
                    <option value="NGAJI_ASYIK">Ngaji Asyik</option>
                    <option value="NGAJI_AMIDA">Ngaji Amida</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  <div class="input-daterange input-group" id="datepicker" data-date-format="dd/mm/yyyy">
                    <input type="text" class="input-sm form-control" name="start" required />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary"> Ekspor</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.id.min.js" integrity="sha512-zHDWtKP91CHnvBDpPpfLo9UsuMa02/WgXDYcnFp5DFs8lQvhCe2tx56h2l7SqKs/+yQCx4W++hZ/ABg8t3KH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function () {
      $('.input-daterange').datepicker({
          language: "id",
          autoclose: true
      });
    });
  </script>
{% endblock footerjs %}