{% extends "layout.html" %}
{% block title %}Poin{% endblock title %}

{% block main %}
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i> Data Poin
            <form type="GET">
            <button class="btn btn-primary" style="width: 128px; float: right;"> Cari</button>
            <input name="search" class="form-control" type="text" placeholder="No.Hp" style="max-width:200px; min-width: 128px; float: right;margin-right: 10px;" required>
            </form>
          </div>

          <div class="card-body">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}
                {% for error in errors %}
                    <br>
                    <div class="alert alert-danger"> {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% with success = get_flashed_messages(category_filter=["success"]) %}
              {% if success %}
                {% for oke in success %}
                    <br>
                    <div class="alert alert-success"> {{ oke }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>No Hp</th>
                    <th>Poin</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% if data.list_user %}
                  {% for user in data.list_user %}
                      <tr>
                          <td>{{ user.nama }}</td>
                          <td>{{ user.no_hp }}</td>
                          <td>{{ user.poin }}</td>
                          <td><button data-toggle="modal" data-target="#tukarModal" data-id="{{ user.user_id }}" data-nama="{{ user.nama }}" data-poin="{{ user.poin }}" class="btn btn-primary"> Tukar Poin </button></td>
                      </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
            {{ data.pagination.links }}
          </div>
          <div class="card-footer small text-muted">{{ data.pagination.info }}</div>
        </div>
{% endblock main %}

{% block footerjs %}
  <div class="modal fade" id="tukarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
        <input type="hidden" id="user_id" name="user_id" value="" />
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tukar Poin</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  <input id="jumlahtukar" name="jumlahtukar" class="form-control" type="number" min="1" placeholder="Jumlah Poin Dikurangi" required />
                  <label for="jumlahtukar">Jumlah Poin Dikurangi</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary"> Simpan</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#tukarModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var user_id = button.data('id');
        var nama = button.data('nama');
        var poin = button.data('poin');
        var modal = $(this);
        modal.find('.modal-title').text('Poin ' + nama + ' : ' + poin);
        modal.find('#user_id').val(user_id);
      });
    });
  </script>
{% endblock footerjs %}